$colors: (
  light: (
    primary: #201E1E,
    secondary: #A0A0A0,
    secondary-gray: #D7D7D7,
    borders: #EEEEEE,
    bg: #000
  ),
  dark: (
    primary: #FFFFFF,
    secondary: #6D6D6D,
    secondary-gray: #444444,
    borders: #212121,
    bg: #fff,
    bg-body: #000,
  )
);