$fonts: (
  desktop: (
    menu: 12px,
    h1: 30px,
    h2: 24px,
    h3: 18px,
    text: 16px,
    small-text: 14px,
    caption: 12px,
  ),
  tablet_p: (
    h1: 30px,
    h3: 18px,
  ),
  mobile: (
    h1: 34px,
    h2: 18px,
    h3: 12px,
    text: 12px,
    small-text: 12px,
    caption: 10px,
  ),
);
