.projectsPageBody {
  height: 100vh;
}

.hide {
  //opacity: 0;
  visibility: hidden;
}

.projectsPage {
  box-sizing: border-box;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  overflow: hidden;

  &-nav {
    box-sizing: border-box;
    position: absolute;
    top: -16px;

    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;

    padding: 0 30px;

    width: 100%;

    &-leftIcon {
      stroke: setColor(light, primary);
      transform: rotate(180deg);
      &:hover {
        cursor: pointer;
      }
    }

    &-rightIcon {
      stroke: setColor(light, primary);
      &:hover {
        cursor: pointer;
      }
    }
  }

  &-wrapper {
    position: relative;
  }
  &-cardWrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    right: 0;
    padding-left: 10px;

    transition: transform ease 0.5s;
  }

  &-projectCard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 20px 20px;
    max-width: 260px;

    &-count {
      margin-bottom: 20px;
      color: setColor(light, secondary);

      font-size: setFontSize(desktop, small-text);
      font-style: normal;
      text-decoration: none;
  
      line-height: 21px;
  
      @media screen and (max-device-width: 576px) {
          font-size: setFontSize(mobile, small-text);
          line-height: 18px;
      }
    }
    &-img {
      &-1 {
        object-fit: cover;
        width: 220px;
        height: 341px;
        background: url("../images/projectspage/Dr-strange.png") center
          no-repeat;
        background-size: 100%;
        transition: background-size ease 0.5s;

        &:hover {
          background-size: 120%;
          transition: background-size ease 0.5s;
        }
      }
      &-2 {
        object-fit: cover;
        width: 220px;
        height: 341px;
        background: url("../images/projectspage/Spider-men.png") center
          no-repeat;
        background-size: cover;
        background-size: 100%;
        transition: background-size ease 0.5s;

        &:hover {
          background-size: 120%;
          transition: background-size ease 0.5s;
        }
      }
      &-3 {
        object-fit: cover;
        width: 220px;
        height: 341px;
        background: url("../images/projectspage/Dr-strange.png") center
          no-repeat;
        background-size: 100%;
        transition: background-size ease 0.5s;

        &:hover {
          background-size: 120%;
          transition: background-size ease 0.5s;
        }
      }
      &-4 {
        object-fit: cover;
        width: 220px;
        height: 341px;
        background: url("../images/projectspage/Spider-men.png") center
          no-repeat;
        background-size: cover;
        background-size: 100%;
        transition: background-size ease 0.5s;

        &:hover {
          background-size: 120%;
          transition: background-size ease 0.5s;
        }
      }
      &-5 {
        object-fit: cover;
        width: 220px;
        height: 341px;
        background: url("../images/projectspage/Dr-strange.png") center
          no-repeat;
        background-size: 100%;
        transition: background-size ease 0.5s;

        &:hover {
          background-size: 120%;
          transition: background-size ease 0.5s;
        }
      }
      &-6 {
        object-fit: cover;
        width: 220px;
        height: 341px;
        background: url("../images/projectspage/Spider-men.png") center
          no-repeat;
        background-size: cover;
        background-size: 100%;
        transition: background-size ease 0.5s;

        &:hover {
          background-size: 120%;
          transition: background-size ease 0.5s;
        }
      }
      &-7 {
        object-fit: cover;
        width: 220px;
        height: 341px;
        background: url("../images/projectspage/Dr-strange.png") center
          no-repeat;
        background-size: 100%;
        transition: background-size ease 0.5s;

        &:hover {
          background-size: 120%;
          transition: background-size ease 0.5s;
        }
      }
      &-8 {
        object-fit: cover;
        width: 220px;
        height: 341px;
        background: url("../images/projectspage/Spider-men.png") center
          no-repeat;
        background-size: cover;
        background-size: 100%;
        transition: background-size ease 0.5s;

        &:hover {
          background-size: 120%;
          transition: background-size ease 0.5s;
        }
      }
      &-9 {
        object-fit: cover;
        width: 220px;
        height: 341px;
        background: url("../images/projectspage/Dr-strange.png") center
          no-repeat;
        background-size: 100%;
        transition: background-size ease 0.5s;

        &:hover {
          background-size: 120%;
          transition: background-size ease 0.5s;
        }
      }
      &-10 {
        object-fit: cover;
        width: 220px;
        height: 341px;
        background: url("../images/projectspage/Spider-men.png") center
          no-repeat;
        background-size: cover;
        background-size: 100%;
        transition: background-size ease 0.5s;

        &:hover {
          background-size: 120%;
          transition: background-size ease 0.5s;
        }
      }
      &-11 {
        object-fit: cover;
        width: 220px;
        height: 341px;
        background: url("../images/projectspage/Dr-strange.png") center
          no-repeat;
        background-size: 100%;
        transition: background-size ease 0.5s;

        &:hover {
          background-size: 120%;
          transition: background-size ease 0.5s;
        }
      }
      &-12 {
        object-fit: cover;
        width: 220px;
        height: 341px;
        background: url("../images/projectspage/Spider-men.png") center
          no-repeat;
        background-size: cover;
        background-size: 100%;
        transition: background-size ease 0.5s;

        &:hover {
          background-size: 120%;
          transition: background-size ease 0.5s;
        }
      }
      &-13 {
        object-fit: cover;
        width: 220px;
        height: 341px;
        background: url("../images/projectspage/Dr-strange.png") center
          no-repeat;
        background-size: 100%;
        transition: background-size ease 0.5s;

        &:hover {
          background-size: 120%;
          transition: background-size ease 0.5s;
        }
      }
      &-14 {
        object-fit: cover;
        width: 220px;
        height: 341px;
        background: url("../images/projectspage/Abstract\ glass.jpg") center
          no-repeat;
        background-size: cover;
        background-size: 100%;
        transition: background-size ease 0.5s;

        &:hover {
          background-size: 120%;
          transition: background-size ease 0.5s;
        }
      }
      &-15 {
        object-fit: cover;
        width: 220px;
        height: 341px;
        background: url("../images/projectspage/Notice\ Board.jpg") center
          no-repeat;
        background-size: 100%;
        transition: background-size ease 0.5s;

        &:hover {
          background-size: 120%;
          transition: background-size ease 0.5s;
        }
      }
      &-16 {
        object-fit: cover;
        width: 220px;
        height: 341px;
        background: url("../images/projectspage/Little\ Nightmare.jpg") center
          no-repeat;
        background-size: cover;
        background-size: 100%;
        transition: background-size ease 0.5s;

        &:hover {
          background-size: 120%;
          transition: background-size ease 0.5s;
        }
      }
      &-17 {
        object-fit: cover;
        width: 220px;
        height: 341px;
        background: url("../images/projectspage/Wednesday.png") center
          no-repeat;
        background-size: 100%;
        transition: background-size ease 0.5s;

        &:hover {
          background-size: 120%;
          transition: background-size ease 0.5s;
        }
      }
      &-18 {
        object-fit: cover;
        width: 220px;
        height: 341px;
        background: url("../images/projectspage/Lantsov-Design-New.jpg") center
          no-repeat;
        background-size: cover;
        background-size: 100%;
        transition: background-size ease 0.5s;

        &:hover {
          background-size: 120%;
          transition: background-size ease 0.5s;
          @media handheld and (max-device-width: 880px) {
            transition: none;
          }
        }
        @media handheld and (max-device-width: 880px) {
          transition: none;
        }
      }
      &-19 {
        object-fit: cover;
        width: 220px;
        height: 341px;
        background: url("../images/projectspage/Helloween.png") center
          no-repeat;
        background-size: 100%;
        transition: background-size ease 0.5s;

        &:hover {
          background-size: 120%;
          transition: background-size ease 0.5s;
          @media handheld and (max-device-width: 880px) {
            transition: none;
          }
        }
        @media handheld and (max-device-width: 880px) {
          transition: none;
        }
      }
      &-20 {
        object-fit: cover;
        width: 220px;
        height: 341px;
        background: url("../images/projectspage/Lantsov-Design-2018.png") center
          no-repeat;
        background-size: cover;
        background-size: 100%;
        transition: background-size ease 0.5s;

        &:hover {
          background-size: 120%;
          transition: background-size ease 0.5s;
          @media handheld and (max-device-width: 880px) {
            transition: none;
          }
        }
        @media handheld and (max-device-width: 880px) {
          transition: none;
        }
      }
    }

    &-wrapper {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;

      margin-top: 20px;
      width: 220px;
      border-top: setColor(light, borders) solid 1px;
    }

    &-title {
      margin-top: 20px;
    }

    &-reward {
      height: 42px;
      &-number {
        position: relative;
        left: 0;
        bottom: 34px;

        font-size: 10px;
        color: setColor(dark, primary);
        letter-spacing: 0;
        text-align: center;
      }
    }
  }
}

@media screen and (max-device-width: 880px) {
  .projectsPage {
    &-nav {
      display: none;
    }
    &-cardWrapper {
      padding-left: 0px;
    }
  }
}

@media screen and (max-device-width: 898px) and (max-device-height: 414px) and (orientation: landscape),
  (max-device-width: 1796px) and (max-device-height: 828px) and (orientation: landscape) and (min-resolution: 2dppx) {
  .projectsPage {
    &-nav {
      display: none;
    }
    &-cardWrapper {
      padding-left: 0px;
    }
    &-projectCard {
      max-width: none;
      &-count {
        margin-bottom: 10px;
      }
      &-wrapper {
        margin-top: 10px;
        width: 100%;
      }
      &-img {
        &-1 {
          height: 100px;
          width: 400px;
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-2 {
          height: 100px;
          width: 400px;
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-3 {
          height: 100px;
          width: 400px;
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-4 {
          height: 100px;
          width: 400px;
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-5 {
          height: 100px;
          width: 400px;
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-6 {
          height: 100px;
          width: 400px;
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-7 {
          height: 100px;
          width: 400px;
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-8 {
          height: 100px;
          width: 400px;
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-9 {
          height: 100px;
          width: 400px;
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-10 {
          height: 100px;
          width: 400px;
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-11 {
          height: 100px;
          width: 400px;
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-12 {
          height: 100px;
          width: 400px;
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-13 {
          height: 100px;
          width: 400px;
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-14 {
          height: 100px;
          width: 400px;
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-15 {
          height: 100px;
          width: 400px;
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-16 {
          height: 100px;
          width: 400px;
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-17 {
          height: 100px;
          width: 400px;
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-18 {
          height: 100px;
          width: 400px;
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-19 {
          height: 100px;
          width: 400px;
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-20 {
          height: 100px;
          width: 400px;
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
      }
    }
  }
}
@media screen and (max-device-width: 578px) {
  .projectsPage {
    &-projectCard {
      &-img {
        &-1 {
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-2 {
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-3 {
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-4 {
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-5 {
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-6 {
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-7 {
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-8 {
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-9 {
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-10 {
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-11 {
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-12 {
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-13 {
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-14 {
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-15 {
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-16 {
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-17 {
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-18 {
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-19 {
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
        &-20 {
          transition: none;
          &:hover {
            transition: none;
            background-size: 100%;
          }
        }
      }
    }
  }
}
.soonProject {
  opacity: 0.4;
  transition: none;
  background-size: 100%;
  &:hover {
    transition: none;
    background-size: 100%;
  }
}

.noRevard {
  visibility: hidden;
}
