/*------------------------------------------------------------------------------------------
Desktop grid
------------------------------------------------------------------------------------------*/
.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1140px;
}

/*------------------------------------------------------------------------------------------
Main page
------------------------------------------------------------------------------------------*/
.cta {
  &__wrapper {
    @include grid_row_2_1;
  }

  &__content-block {
    @include flex_column;
    justify-content: center;
  }

  &__button-wrapper {
    @include flex_column;
    justify-content: flex-end;
    align-items: flex-end;
  }
  &__buttons-block {
    @include flex_row;
    align-items: center;
    flex-wrap: wrap;
  }
}

.about-me {
  &__wrapper {
    @include grid_row_2_1;
  }
  &__skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.projects {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &__title-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.quote {
  &__quote-wrapper {
    @include flex_column;
    align-items: center;
    justify-content: center;
  }
}

.services {
  &__wrapper {
    @include grid_row_1_1_1;
  }
}

.stages {
  &__title-block {
    @include grid_row_1_2;
  }
}

/*------------------------------------------------------------------------------------------
About page
------------------------------------------------------------------------------------------*/
.about {
  &__wrapper {
    @include grid_row_2_1;
  }
  &__about-me-block {
    @include flex_column;
    justify-content: space-between;
  }
}

@media screen and (max-device-width: 768px) {
  .about {
    &__wrapper {
      @include flex_column;
    }
  }
}

/*------------------------------------------------------------------------------------------
Contacts page
------------------------------------------------------------------------------------------*/
.contacts-content {
  &__wrapper {
    @include grid_row_1_2;
  }
  &__info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.contact-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*------------------------------------------------------------------------------------------
Error page
------------------------------------------------------------------------------------------*/
.error {
  &__wrapper {
    @include flex_column;
    justify-content: center;
    align-items: center;
  }
}