/*------------------------------------------------------------------------------------------
Mobile grid
------------------------------------------------------------------------------------------*/
@media screen and (max-device-width: 576px) {
  .container {
    padding: 0 20px;
  }

  .cta {
    &__wrapper {
      align-items: center;
    }
    &__buttons-block {
      align-items: center;
    }
  }
}
