/*------------------------------------------------------------------------------------------
Tablets grid
------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------
Main page
------------------------------------------------------------------------------------------*/
@media screen and (max-device-width: 1040px) {
  .cta {
    &__wrapper {
      @include flex_column;
      justify-content: center;
      align-items: center;
    }
    &__buttons-block {
      @include flex_column;
      align-items: center;
    }
  }
}
@media screen and (max-device-width: 768px) {
  .cta {
    &__wrapper {
      @include flex_column;
      justify-content: center;
      align-items: center;
    }
    &__buttons-block {
      @include flex_column;
      align-items: center;
    }
  }
}

@media screen and (max-device-width: 768px) {
  .about-me {
    &__wrapper {
      @include flex_column;
      justify-content: flex-start;
      align-items: space-between;
      grid-gap: 0;
    }
  }
}

@media screen and (max-device-width: 1040px) {
  .services {
    &__wrapper {
      @include grid_row_1_1;
    }
  }
}

@media screen and (max-device-width: 768px) {
  .services {
    &__wrapper {
      @include flex_column;
      column-gap: 0;
      row-gap: 0;
    }
  }
}

/*------------------------------------------------------------------------------------------
Contacts page
------------------------------------------------------------------------------------------*/
@media screen and (max-device-width: 1040px) {
  .contacts-content {
    &__wrapper {
      @include flex_column;
      gap: 0;
      align-items: center;
    }
    &__info-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__social-links {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}